* {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

header{
    border: 5px solid lightblue;
    position: relative;
}


li {
    list-style-type:none;
}

li a {
    text-decoration: none;
    color: inherit;
    
}
.nav-links {
    display: none;
}
main {
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#landing-section {
    height: 100vh;
}
footer {
    border: 5px dashed lightblue;
}
img {
    height: 50%;
    width: 90vw;
    border: 1px solid orange;
}
section {
    border: 2px solid green;
}
#title {
    border: 2px dashed red;
}
#about {
    border:  2px dashed green;
}
